.wrapper {
  margin-bottom: 1rem;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.error {
  color: var(--error);
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
